@charset "utf-8";
/* CSS Document */

body {
    background: white;
}

/*购物车*/

.shopping {
    clear: both;
    overflow: hidden;
    height: auto;
}

.shop-group-item {
    margin-bottom: 5px;
}

.shop-group-item ul li {
    border-bottom: 1px solid #F6F6F6;
    position: relative;
}

.shop-group-item ul li:last-child {
    border-bottom: none;
}

.shop-name {
    background: #fff;
    height: 1.8rem;
    line-height: 3rem;
    position: relative;
    padding: 0 15px 0 0;
}

.shop-name h4 {
    float: left;
    font-size: 14px;
    padding-left: 25px;
    margin-left: 28px;
    margin-top: -3px;
}

.shop-name h4 a {
    font-size: 1rem;
}

.coupons {
    float: right;
}

.coupons {
    display: inline-block;
    padding: 3px 5px;
    color: #F23A22;
}

.coupons em {
    color: #e0e0e0;
}

.delete_food {
    padding: 0 0.5rem;
/*    height: 100%;*/
    position: absolute;
    right: 0;
    z-index: 10;
    line-height: 120px;
    color: white;
    background: #4D4D4D;
    display: none;
}

.shop-info {
    background: white;
    height: 120px;
    padding: 0 15px;
    position: relative;
}

.shop-info .goodsCheck {
    top: 30%;
}

.shop-info .checkbox {
    background: url(../images/gwc_icon_round@2x.png) no-repeat left center;
    background-size: 20px 20px;
    position: absolute;
    top: 50%;
    left: 15px;
    margin-top: -60px;
    width: 20px;
    height: 120px;
}

.shop-info .checkbox1 {
    background: url(../images/gwc_icon_round_pre@2x.png) no-repeat left center;
    background-size: 20px 20px;
    position: absolute;
    top: 50%;
    left: 15px;
    margin-top: -60px;
    width: 20px;
    height: 120px;
}

.shop-info .shop-info-img {
    position: absolute;
    top: 15px;
    left: 38px;
    width: 95px;
    height: 90px;
}

.shop-info .shop-info-img img {
    width: 100%;
    height: 100%;
}

.shop-info .shop-info-text {
    margin-left: 130px;
    padding: 15px 0;
}

.shop-info .shop-info-text h4 {
    font-size: 14px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.shop-info .shop-info-text .shop-brief {
    line-height: 40px;
    font-size: 12px;
    color: #CC4015;
    white-space: nowrap;
}

.shop-info .shop-info-text .shop-brief span {
    display: inline-block;
    margin-right: 8px;
    color: #CC4015;
}

.shop-info .shop-info-text .shop-brief span:nth-child(1) {
    color: #CC4015;
    font-size: 1.1rem;
}

.shop-info .shop-info-text .shop-brief span:nth-child(2) {
    text-decoration: line-through;
    color: #81838e;
}


.shop-info .shop-info-text .shop-price {
    height: 24px;
    line-height: 24px;
    position: relative;
}

.shop-info .shop-info-text .shop-price .shop-pices {
    display: inline-block;
    padding: 0rem 0.2rem;
    border: 1px solid #FEE1D2;
    color: #CC4015;
    background: #FCF2ED;
    line-height: 16px;
    border-radius: 5px;
    font-size: 0.7rem;
    /*
    color: #F23A22;
    font-size: 14px;
    background: #FBDECF;
    border: 1px solid #F23A22;
    border-radius: 5px;
    padding: 0 10px;
*/
}

.shop-info .shop-info-text .shop-arithmetic {
    position: absolute;
    right: 0px;
    top: 0;
    width: 84px;
    box-sizing: border-box;
    white-space: nowrap;
    height: 100%;
    border: 1px solid #e0e0e0;
}

.shop-info .shop-info-text .shop-arithmetic a {
    display: inline-block;
    width: 23px;
    height: 20px;
    line-height: 22px;
    text-align: center;
    background: #fff;
    font-size: 16px;
}

.shop-info .shop-info-text .shop-arithmetic .minus {
    border-right: 1px solid #e0e0e0;
}

.shop-info .shop-info-text .shop-arithmetic .failed {
    color: #d1d1d1;
}

.shop-info .shop-info-text .shop-arithmetic .plus {
    border-left: 1px solid #e0e0e0;
}

.shop-info .shop-info-text .shop-arithmetic .num {
    width: 32px;
    text-align: center;
    border: none;
    display: inline-block;
    height: 100%;
    box-sizing: border-box;
    vertical-align: top;
    margin: 0 -6px;
}

.shopPrice {
    background: #fff;
    height: 35px;
    line-height: 35px;
    padding: 0 15px;
    text-align: right;
    display: none;
}

.shopPrice span {
    color: #F23A22;
}

.payment-bar {
    clear: both;
    overflow: hidden;
    width: 100%;
    height: 70px;
    position: fixed;
    bottom: 0;
    border-top: 1px solid #e0e0e0;
    background: #fff;
    z-index: 99;
}

.payment-bar .all-checkbox {
    float: left;
    line-height: 70px;
    padding-left: 40px;
}

.payment-bar .shop-total {
    /*float: right;*/
    position: absolute;
    right: 90px;
    top: 11px;
    -webkit-box-flex: 1.0;
    box-flex: 1.0;
    margin: 5px 35px 9px 35px;
}

.payment-bar .shop-total strong {
    display: block;
    color: #F23A22;
    font-size: 14px;
    font-weight: 100;
}

.payment-bar .shop-total strong span {
    color: #0A83FA;
}

.payment-bar .shop-total strong span b {
    font-size: 1.2rem;
}

.payment-bar .shop-total span.ojifen {
    display: block;
    font-size: 14px;
    margin-top: 5px;
    color: #666;
}

.payment-bar .shop-total span {
    color: #F23A22;
}

.payment-bar .settlement {
    display: inline-block;
    float: right;
    width: 118px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    background: #F23A22;
}


.popout_confirm {
    position: absolute;
    width: 70%;
    top: 30%;
    left: 15%;
    background: white;
    z-index: 999;
    border-radius: 5px;
    overflow: hidden;
    display: none;
    box-shadow: 0 0 20px #5D5F60;
}

.popout_confirm p {
    text-align: center;
    padding: 1rem 0;
    font-size: 1rem;
}

.popout_confirm .popout_confirm_cancel {
    background: white;
    color: black;
}

.popout_confirm > div {
    padding: 0.7rem 0;
    width: 50%;
    text-align: center;
    background: #F23A22;
    color: white;
    float: left;
    font-size: 1.1rem;
    border-top: 1px solid #D0D0D0;
}

.plase_select {
    width: 70%;
    display: none;
    z-index: 1000;
    position: fixed;
    top: 40%;
    left: 15%;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    color: white;
    background: rgba(9, 9, 10, 0.8);
}

.unable_buy {
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #666;
}

.lapse_box {
    overflow: hidden;
    padding-bottom: 5rem;
}

.lapse_box .shop-info {
    border-bottom: 1px solid #F6F6F6;
}

.lapse_box .shop-info .shop-info-img {
    left: 10px;
}

.lapse_box .shop-info .shop-info-text {
    margin-left: 120px;
}

.lapse_box .shop-arithmetic {
    border: none !important;
    text-align: right;
}

.lapse_food_btn {
    height: 40px;
    margin-top: 26px;
}

.lapse_food_btn a {
    width: auto;
    padding: 10px 30px;
    border-radius: 3px;
    line-height: 40px;
    color: #F23A22;
    border: 1px solid #F23A22;
}


.all-checkbox input.check {
    top: 17px;
}

#AllTotal {
    font-size: 1.2rem;
}
